<!----<mat-grid-list cols = "5" rows = "1">
  <mat-grid-tile>
    {{id}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{title}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{studio}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{weekendIncom}}
  </mat-grid-tile>
  <mat-grid-tile>
    <button (click) = "deleteRow()">
      Delete Movie
    </button>
  </mat-grid-tile>
</mat-grid-list>-->

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

